{% extends "layout.html" %}
{% block header %}
<meta http-equiv="refresh" content="5; URL=../../mixing/{{cid}}">
{% endblock %}
{% block body %}
<h1>Mixing...</h1>

<div class="c_img"><img src="/{% if cocktail.picture %}{{ cocktail.picture }}{% else %}img/missing.png{% endif %}" /></div>
<div class="c_desc">
  {{cocktail.name}}
  <ul>
    {% for ing in cocktail.recipe | sort(reverse=True, attribute='amount') %}
    <li>{{ ing.amount }} mL {{ ing.ingredient.name }}</li>
    {% endfor %}
  </ul>
</div>
<progress max="{{pmax}}" value="{{pvalue}}">Mixing</progress>
{% endblock %}
